<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Leegjn Shop</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/FontAwesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/my/css/animate.css" rel="stylesheet" />
    <link href="~/Content/my/css/main.css" rel="stylesheet" />
    <link href="~/Content/my/css/responsive.css" rel="stylesheet" />
    <link href="~/Content/my/slide/engine0/style.css" rel="stylesheet" />

</head><!--/head-->

<body>
    
    @{Html.RenderAction("HeaderMenu" , "Home");}<!--Header-->

    @RenderBody()

    @Html.Partial("_PartialFooter") <!--Footer-->

    @RenderSection("jsFooter", required: false)
</body>
</html>
